WpfClient/Connected Services/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/IService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/IService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Authentication1_InputMessage">
    <wsdl:part name="parameters" element="tns:Authentication1" />
  </wsdl:message>
  <wsdl:message name="IService_Authentication1_OutputMessage">
    <wsdl:part name="parameters" element="tns:Authentication1Response" />
  </wsdl:message>
  <wsdl:message name="IService_CoordR_InputMessage">
    <wsdl:part name="parameters" element="tns:CoordR" />
  </wsdl:message>
  <wsdl:message name="IService_CoordR_OutputMessage">
    <wsdl:part name="parameters" element="tns:CoordRResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CoordL_InputMessage">
    <wsdl:part name="parameters" element="tns:CoordL" />
  </wsdl:message>
  <wsdl:message name="IService_CoordL_OutputMessage">
    <wsdl:part name="parameters" element="tns:CoordLResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CoordU_InputMessage">
    <wsdl:part name="parameters" element="tns:CoordU" />
  </wsdl:message>
  <wsdl:message name="IService_CoordU_OutputMessage">
    <wsdl:part name="parameters" element="tns:CoordUResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CoordD_InputMessage">
    <wsdl:part name="parameters" element="tns:CoordD" />
  </wsdl:message>
  <wsdl:message name="IService_CoordD_OutputMessage">
    <wsdl:part name="parameters" element="tns:CoordDResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CoordMouseL_InputMessage">
    <wsdl:part name="parameters" element="tns:CoordMouseL" />
  </wsdl:message>
  <wsdl:message name="IService_CoordMouseL_OutputMessage">
    <wsdl:part name="parameters" element="tns:CoordMouseLResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CoordMouseR_InputMessage">
    <wsdl:part name="parameters" element="tns:CoordMouseR" />
  </wsdl:message>
  <wsdl:message name="IService_CoordMouseR_OutputMessage">
    <wsdl:part name="parameters" element="tns:CoordMouseRResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CoordMouseM_InputMessage">
    <wsdl:part name="parameters" element="tns:CoordMouseM" />
  </wsdl:message>
  <wsdl:message name="IService_CoordMouseM_OutputMessage">
    <wsdl:part name="parameters" element="tns:CoordMouseMResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="IService_SendEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendWhatsApp_InputMessage">
    <wsdl:part name="parameters" element="tns:SendWhatsApp" />
  </wsdl:message>
  <wsdl:message name="IService_SendWhatsApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendWhatsAppResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Authentication1">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Authentication1" message="tns:IService_Authentication1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Authentication1Response" message="tns:IService_Authentication1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CoordR">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CoordR" message="tns:IService_CoordR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CoordRResponse" message="tns:IService_CoordR_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CoordL">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CoordL" message="tns:IService_CoordL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CoordLResponse" message="tns:IService_CoordL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CoordU">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CoordU" message="tns:IService_CoordU_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CoordUResponse" message="tns:IService_CoordU_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CoordD">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CoordD" message="tns:IService_CoordD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CoordDResponse" message="tns:IService_CoordD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CoordMouseL">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CoordMouseL" message="tns:IService_CoordMouseL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CoordMouseLResponse" message="tns:IService_CoordMouseL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CoordMouseR">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CoordMouseR" message="tns:IService_CoordMouseR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CoordMouseRResponse" message="tns:IService_CoordMouseR_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CoordMouseM">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CoordMouseM" message="tns:IService_CoordMouseM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CoordMouseMResponse" message="tns:IService_CoordMouseM_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendEmail" message="tns:IService_SendEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendEmailResponse" message="tns:IService_SendEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendWhatsApp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendWhatsApp" message="tns:IService_SendWhatsApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendWhatsAppResponse" message="tns:IService_SendWhatsApp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authentication1">
      <soap:operation soapAction="http://tempuri.org/IService/Authentication1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CoordR">
      <soap:operation soapAction="http://tempuri.org/IService/CoordR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CoordL">
      <soap:operation soapAction="http://tempuri.org/IService/CoordL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CoordU">
      <soap:operation soapAction="http://tempuri.org/IService/CoordU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CoordD">
      <soap:operation soapAction="http://tempuri.org/IService/CoordD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CoordMouseL">
      <soap:operation soapAction="http://tempuri.org/IService/CoordMouseL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CoordMouseR">
      <soap:operation soapAction="http://tempuri.org/IService/CoordMouseR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CoordMouseM">
      <soap:operation soapAction="http://tempuri.org/IService/CoordMouseM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://tempuri.org/IService/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendWhatsApp">
      <soap:operation soapAction="http://tempuri.org/IService/SendWhatsApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8080/IService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>